body {
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #8a8a8a;
}

.signup-container {
    width: 100%;
    max-width: 600px;
    max-width: 375px;
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(0,0,255,1) 0%, rgba(33,218,255,1) 100%);
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    border-radius: 40px;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    box-sizing: border-box;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    color: #000;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
    font-size: 1rem;
    display: block;
    font-weight: bold;
}

input {
    margin-bottom: 20px;
    padding: 12px;
    border-radius: 16px;
    border: none;
    background-color: rgb(168, 168, 230);
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    width: 100%;
}

input:focus {
    outline: none;
}

button {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 15px;
    border-radius: 300px;
    background-color: rgb(125, 171, 218);
    border: none;
    color: black;
    cursor: pointer;
}

button:hover {
    background-color: rgb(19, 125, 187);
    color: #fdfdfd;
}

@media screen and (max-width: 600px) {
    body{
        padding: 20px;
    }
    .signup-contai
    ner { 
        max-width: 100%;
        padding: 20px ;
        box-shadow: none;
        border-radius: 35px;
        margin: 0;
    }
    
    h2 {
        font-size: 1.2rem;
    }
    
    label, input, button {
        font-size: 1rem;
    }

    input{
        padding: 12px;
        margin-bottom: 20px;
    }

    button {
        padding: 14px;
        font-size: 1rem;
    }
}
